{% load staticfiles %}

<html>

  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>



    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />    

  </head>
  <body>
    <div class="page-header">
        <h1><a href="/">Salon Sweet: A Web Presence Made for You!</a></h1>
    </div>
        <nav class="navbar navbar-default">
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/blog">Blog</a></li>
            <li role="presentation"><a href="/contact">Contact</a></li>
            <li role="presentation"><a href="/services">Services</a></li>
          </ul>
        </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>


      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
  <footer>
    <!-- Jquery and Bootstrap -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
  </footer>
  
  </body>
</html>