{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
<!-- <p> No matter which chair, city or shop you move to, you website can always be found in one place!</p>
 -->
<div class="row">
<!-- Photo -->
 <div class="col-md-7">
<img class="services-pic" src="{% static 'img/women-computer.jpg' %}" />
 </div>

<!-- Prices-->
<div class="col-md-5">
<div class="landing">
<h3>Build a warm and welcoming community online</h3>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<h3>Learn how to better serve your clients online</h3>

<h3>Learn how to easily promote your hair services</h3>
</div>
	</div>
</div>


{% for post in posts %}
<div class="post">
    <div class="date">
        {{ post.published_date }}
    </div>
		<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|truncatechars:20|linebreaks }}</p>
</div>
    {% endfor %}
{% endblock %}